body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #ffffff;
    text-align: center;
}

header {
    padding: 30px;
    background: #020617;
}

nav {
    background: #020617;
    padding: 10px;
}

nav a {
    color: #38bdf8;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 60px 20px;
}

.hero h2 {
    font-size: 36px;
}

.hero button {
    padding: 12px 25px;
    background: #38bdf8;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: #020617;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
}

footer {
    padding: 15px;
    background: #020617;
}
